/**
 * 전체 페이지에 적용되는 디자인을 모아두는 scss 파일입니다.
 * - 폰트, 색 변수
 * (다른 요소를 넣을때 주석으로 표기 요망 예시
 * https://github.com/dandamdandam/En_word_test_web/blob/main/client/src/styles/style.css <- 참고
 * - 버튼, input, textarea)
 */
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {

}

body{
    margin: 0;  
    padding: 0;
    display: flex;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;
    background-color: black;
}
.frame{
    background-color: white;
    width: 430px;
}