/* Base styles */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
    padding: 10%;
  }
  
  .map,
  .info {
    width: 100%;
    margin: 20px 0;
  }
  
  /* Map section */
  .map {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around; /* Use space-between if you want them to be at the edges of the container */
    align-items: center;
    margin: 0 auto;
  }
  
  /* Information section */
  .info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Search input */
  .search {
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  /* Textarea */
  textarea {
    height: 100px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    resize: none;
  }