/* Main container */
.mapContainer {
    width: 100%;
    height: 100%;
  }
  
  /* Main content area */
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
  }